mixin heading(level=2, modifier='')
  -
    const baseClass = 'component-brand-heading'
    const classes = `${baseClass}${modifier ? ` ${baseClass}--${modifier}` : ''}`
  case level
    when 1: h1(class=classes)&attributes(attributes)
      block
    when 2: h2(class=classes)&attributes(attributes)
      block
    when 3: h3(class=classes)&attributes(attributes)
      block
    when 4: h4(class=classes)&attributes(attributes)
      block
    when 5: h5(class=classes)&attributes(attributes)
      block
    when 6: h6(class=classes)&attributes(attributes)
      block
    default: h2(class=classes)&attributes(attributes)
      block
