//- Page properties
-
  let root = '.'
  let assetPath = `${root}/assets`
  let description = `${Config.description}`
  let keywords = `${Config.keywords.join(',')}`
  let url = `${Config.getUrl()}`
  let robots = ''
  let title = Config.title
  let rootClass = 'is-header-sticky no-js'
  let bodyClass = ''

//- Overwrite page properties
block props

//- HTML
doctype html
html(lang=`${Config.language}`, class=rootClass)
  head(prefix='og: https://ogp.me/ns#')
    //- Load components
    include /components/_load-components.pug

    //- Head settings
    include /partials/head-inner.pug

    block head

  body(class=bodyClass)
    //- Tags in body
    include /tags/gtm-in-body.html

    block body-begin

    //- Drawer
    include /partials/drawer.pug

    //- Wrapper
    .page-wrapper

      include /partials/header.pug

      main.main#main
        block main

      include /partials/footer.pug

    block body-end
