//- Page properties
-
  // Path
  let root = '.'
  let assetPath = `/web-assets`

  // SEO
  let description = `${Config.description}`
  let keywords = `${Config.keywords.join(',')}`
  let url = `${Config.getUrl()}`
  let robots = ''
  let title = Config.title

  // Design
  let headerPosition = 'sticky' // 'relative' | 'sticky' | 'fixed'
  let headerNavigationMode = 'only-drawer' // 'toggle' | 'only-drawer' | 'no-drawer'
  let useColorScheme = false
  let breadcrumbList = []
  let bodyClass = ''

//- Overwrite page properties
block props

-
  let rootClasses = [
    `is-header-position-${headerPosition}`,
    `is-header-navigation-${headerNavigationMode}`,
  ]

  if (useColorScheme) {
    rootClasses.push('is-user-color-scheme')
  }

  let rootClass = rootClasses.join(' ')

//- HTML
doctype html
html.no-js(lang=`${Config.language}`, class=`${rootClass}`)
  head(prefix='og: https://ogp.me/ns#')
    //- Load components
    include /components/_load-components.pug

    //- Head settings
    include /partials/head-inner.pug

    block head

  body(class=bodyClass)
    //- Tags in body
    include /tags/gtm-in-body.html

    block body-begin

    //- Wrapper
    .global-wrapper

      include /partials/header.pug

      main.main#main
        include /partials/breadcrumb.pug
        block main

      include /partials/footer.pug

    include /partials/loading.pug

    block body-end
