-
  // Page props
  let root = '.'
  let assetPath = `${root}/assets`
  let description = `${Config.description}`
  let keywords = `${Config.keywords.join(',')}`
  let url = `${Config.getUrl()}`
  let headerLayoutMode = 'sticky'

block variable

doctype html
html(lang=`${Config.language}`, data-header-layout-mode=`${headerLayoutMode}`)
  head(prefix='og: https://ogp.me/ns#')
    include /components/_load-components.pug
    include /partials/head-inner.pug
    block head

  body
    //- Tags in body
    include /tags/gtm-in-body.html

    block body-begin

    //- Drawer
    include /partials/drawer.pug

    //- Page
    .page-wrapper#page-wrapper
      include /partials/header.pug
      main.main#main
        block main
      include /partials/footer.pug

    block body-end
